# Supabase Database
NEXT_PUBLIC_SUPABASE_URL=https://zxwkviggbftqiqwnigjn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_t2eEV1cMmpdr_4YU_UdBbA_X8_6_WD7
SUPABASE_URL=https://zxwkviggbftqiqwnigjn.supabase.co
SUPABASE_ANON_KEY=sb_publishable_t2eEV1cMmpdr_4YU_UdBbA_X8_6_WD7

# Telegram Bot (Opcional)
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=
NEXT_PUBLIC_TELEGRAM_CHAT_ID=
